/* src/app/login/login.component.css */

.login-card {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
